<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div id="allPage">
      <hr />
      <h6>
        &copy;&nbsp;&nbsp;Copyright Chun Wai Yim, 301242959, COMP219, SUMMER 23,
        Assignment 2.
      </h6>
    </div>
  </body>
</html>
