<!-- header.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div id="allPage">
      <img src="logo.png" alt="logo" height="150" />
      <nav>
        <ul>
          <a id="navigation" href="/">Home</a>
          <a id="navigation" href="/about">About</a>
          <a id="navigation" href="/projects">Projects</a>
          <a id="navigation" href="/services">Services</a>
          <a id="navigation" href="/contact">Contact</a>
          <a id="navigation" href="/businessContacts">Business Contacts</a>
          <a id="navigation" href="/users/login">Log in</a>
        </ul>
      </nav>
    </div>
  </body>
</html>
