<!DOCTYPE html>
<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div id="allPage">
      <%- include('partials/header.ejs') %>
      <h1>About</h1>
      <div class="about_container">
        <div>
          <br />
          <img src="IMG_5202.JPG" alt="Agent Pic" width="230" />
        </div>
        <div>
          <h2>Who am I</h2>
          <p>
            I am Chun Wai Yim, you can call me Issac. I am from Hong Kong and
            currently studying software engineer technician at Centennial
            College.
            <br /><br />
            I moved to Canada in 2022. I found that Canada is a great country
            becasuse it is renowned for its stunning natural landscapes,
            including majestic mountains, pristine lakes, vast forests, and
            picturesque coastlines. Also, Canada consistently ranks among the
            top countries for quality of life. It has a high standard of living,
            excellent healthcare and education systems, and a strong emphasis on
            social welfare. Canadians generally enjoy a safe and welcoming
            environment.
          </p>

          <h2>My Interest</h2>
          <p>
            I like working out! Living an active lifestyle through regular
            exercise and physical activity is not only beneficial for
            maintaining a healthy body but also for improving overall
            well-being. Exercise helps to boost energy levels, manage weight,
            reduce stress, improve sleep, and strengthen muscles and bones.
          </p>
          <h3><a href="CV_Chun_Wai_Yim.pdf" target="_blank">Resume</a></h3>
        </div>
        <div>
          <h2>Name: Chun Wai Yim</h2>
        </div>
      </div>
      <%-include('partials/footer.ejs') %>
    </div>
  </body>
</html>
