<!DOCTYPE html>
<html>
  <head>
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div id="allPage">
      <%- include('partials/header.ejs') %>
      <h1>Business Contact</h1>
      <form action="/users/logout" method="POST">
        <button type="submit">Log Out</button>
      </form>
      <%-include('partials/footer.ejs') %>
    </div>
  </body>
</html>
