<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div id="allPage">
      <%- include('partials/header.ejs') %>
      <h2>Welcome to my page.</h2>

      <p>Mission Statement:</p>
      <p>Be a good man</p>

      <h2>Please check out my details!</h2>
      <a href="/about">About me</a>
      <%-include('partials/footer.ejs') %>
    </div>
  </body>
</html>
