<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div id="allPage">
      <%- include('../partials/header.ejs') %> <%-
      include('../partials/content.ejs') %> <%-
      include('../partials/footer.ejs') %>
    </div>
  </body>
</html>
