<!DOCTYPE html>
<html>
  <head>
    <title>Services</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div id="allPage">
      <%- include('partials/header.ejs') %>
      <h1>Services</h1>

      <div class="service">
        <h3>General Programming</h3>
        <p>
          I offer a wide range of general programming services. I can help you
          with various programming languages and technologies to develop custom
          solutions tailored to your needs.
        </p>
      </div>

      <div class="service">
        <h3>Web Development</h3>
        <p>
          My development services cover everything from designing user-friendly
          interfaces to implementing robust backend functionality. My specialize
          in creating responsive and optimized websites using the latest web
          technologies.
        </p>
      </div>

      <div class="service">
        <h3>Mobile Apps</h3>
        <p>
          Looking to build a mobile app? I have expertise in developing native
          and cross-platform mobile applications for iOS and Android. I can help
          you bring your app idea to life and ensure a seamless user experience.
        </p>
      </div>

      <%- include('partials/footer.ejs') %>
    </div>
  </body>
</html>
