<!DOCTYPE html>
<html>
  <head>
    <title>Services</title>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
  </head>
  <body>
    <div id="allPage">
      <%- include('partials/header.ejs') %>
      <header>
        <h2>Services</h2>
      </header>

      <ul class="services-list">
        <li>General Programming</li>
        <li>Web Development</li>
        <li>Mobile Apps</li>
      </ul>
      <%- include('partials/footer.ejs') %>
    </div>
  </body>
</html>
