/*
File Name: styles.css
Created by: Chun Wai Yim (Student #: 301242959) on 6/2/2023
*/

nav {
    text-align: center;
    overflow: hidden;
    padding: 12px 14px;
    overflow: hidden;
    background-color: #393D50;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F7F9F4;
}

#allPage {
    width: 980px;
    margin-right: auto;
    margin-left: auto;
}

#navigation {
    float: none;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

#title {
    text-align: center;
}

h2 {
    color: #B9AC93;
}

.about_container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 380px 100px;
}


label {
    width: 180px;
    float: left;
    text-align: left;
    clear: both;
}

.projects_container {
    display: grid;
    grid-template-columns: 400px 600px;
    grid-template-rows: 280px 280px 280px;
}
